{% extends "layouts.html" %}

{% block body %}
    <!-- Page Header -->
    <header class="masthead" style="background-image: url('{{ url_for('static', filename='assets/img/home-bg.jpg')}}')">
    <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="site-heading">
              <h1>{{params['blog_name']}}</h1>
              <span class="subheading">{{params['tag_line']}}</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <div class="container-lx">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                
                <h1>Basic Actions</h1>
                <a href="/dashboard">  <button class="btn btn-primary">Dashboard Home</button></a>
                <a href="/logout">  <button class="btn btn-primary">Logout</button></a>
                <hr>

                <h1>Add/Edit Posts</h1>


                <form id="contactForm" name="sentMessage" action="/edit/{{post.sno}}" method="post" novalidate>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label>Title</label>
                            <input class="form-control" id="title" type="text" name='title' placeholder="Title" value="{{post.title}}" required data-validation-required-message="Please enter your name." />
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label>sub heading</label>
                            <input class="form-control" id="sub_heading" type="text" name='sub_heading' placeholder="Subheading" value="{{post.sub_heading}}" required data-validation-required-message="Please enter your email address." />
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>slug</label>
                            <input class="form-control" id="slug" type="text" name='slug'placeholder="Slug" value="{{post.slug}}" required data-validation-required-message="Please enter your phone number." />
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label>content</label>
                            <textarea class="form-control" id="content" rows="5" name='content' placeholder="Content"  required data-validation-required-message="Please enter a message.">{{post.content}}</textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="form-group floating-label-form-group controls">
                            <label>Image file</label>
                            <input class="form-control" id="img_file" rows="5" name='img_file' value="{{post.img_file}}" placeholder="Image upload" >
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <br />
                    <div id="success"></div>
                    <button class="btn btn-primary" id="sendMessageButton" type="submit">Submit</button>
                </form>

    </div>
</div>
</div>
    {% endblock %}